.field {
    padding: var(--spacer-1) 0;

    .label-container {
        align-items: center;
        display: flex;
        gap: var(--spacer-1);
    }

    label,
    .field-label {
        color: var(--grey-7);
        display: inline-block;
        font-family: var(--font-2);
        margin-bottom: var(--spacer-05);
        text-transform: capitalize;
    }

    .help {
        color: var(--grey-6);
        font-size: var(--text-s);
        font-style: italic;
        margin-top: var(--spacer-05);
    }
}

.no-options-warning {
    background: var(--grey-2);
    border: 2px dashed var(--grey-5);
    flex: 1;
    font-size: var(--text-s);
    margin: var(--spacer-1) 0;
    padding: var(--spacer-1);
    width: 100%;

    .explanation {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacer-1) * 0.5);
    }
}

.env-warning {
    color: var(--warning-color);
    font-size: var(--text-s);
    margin-top: var(--spacer-1);
}
