.permissions {

    .permission-group {
        align-items: center;
        display: flex;
        padding: var(--spacer-1) 0;

        .group-name {
            color: var(--grey-8);
            cursor: pointer;
            flex: 1;
            user-select: none;

            &:hover {
                color: var(--primary-c);
            }
        }

        .categories {
            align-items: center;
            display: flex;
            flex: 2;

            .category {
                align-items: center;
                display: flex;
                justify-content: center;
                margin: 0 var(--spacer-1);
                width: 75px;

                svg {
                    width: calc(var(--spacer-2) + 21px);

                    &:hover {
                        color: var(--primary-c);
                    }
                }

                input {
                    margin-right: 0;
                }
            }
        }
    }
}
