.tabs {
    background: var(--grey-2);
    border-bottom: var(--border) solid var(--grey-4);
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: var(--spacer-2);

    .tab {
        align-items: center;
        background: none;
        border-left: 0;
        border-right: 0;
        display: flex;
        height: var(--spacer-8);
        justify-content: center;
        width: var(--spacer-8);

        &.active {
            background: var(--grey-3);
            border-bottom: var(--border) solid var(--primary-c);
            color: var(--primary-c);
        }

        &.disabled {
            opacity: 0.3;

            &:hover {
                cursor: not-allowed;
            }
        }
    }
}

.tabs-content {
    display: flex;

    .actions {
        background: var(--grey-2);
    }
}

.tab-content {
    display: none;
    flex: 1;
    height: calc(100vh - var(--spacer-8) * 2);
    overflow-y: scroll;

    &.active {
        display: block;
    }
}
