@import "./lib/mixins";
@import "./lib/utilities";
@import "./elements/animations";
@import "./elements/buttons";
@import "./elements/checkbox";
@import "./elements/content";
@import "./elements/context-menu";
@import "./elements/forms";
@import "./elements/table";
@import "./elements/tabs";
@import "./elements/tooltip";
@import "./elements/misc";


:root {
    --sat: 40%;
    --light-d: 40%;
    --light: 50%;
    --light-l: 75%;
    --light-xl: 90%;
    --text-xs: 0.65rem;
    --text-s: 0.8rem;
    --text-d: 1rem;
    --text-l: 1.15rem;
    --text-xl: 2rem;
    --font-1: "Roboto";
    --font-2: "Oswald", sans-serif;
    --border: 2px;
    --spacer-05: 4px;
    --spacer-1: 8px;
    --spacer-2: 16px;
    --spacer-3: 24px;
    --spacer-4: 32px;
    --spacer-6: 48px;
    --spacer-8: 64px;
    --warning-h: 23;
    --warning-color: hsl(var(--warning-h) var(--sat) var(--light));
    --warning-color-l: hsl(var(--warning-h) var(--sat) var(--light-l));
    --error-h: 0;
    --error-color: hsl(var(--error-h) var(--sat) var(--light));
    --error-color-l: hsl(var(--error-h) var(--sat) var(--light-l));
    --grey-h: 210;
}

@media (prefers-color-scheme: dark) {

    .theme-system {
        @include theme-dark;
    }
}

@media (prefers-color-scheme: light) {

    .theme-system {
        @include theme-light;
    }
}

.app {
    --grey-1: hsl(var(--grey-h) var(--grey-s) var(--light-1));
    --grey-2: hsl(var(--grey-h) var(--grey-s) var(--light-2));
    --grey-3: hsl(var(--grey-h) var(--grey-s) var(--light-3));
    --grey-4: hsl(var(--grey-h) var(--grey-s) var(--light-4));
    --grey-5: hsl(var(--grey-h) var(--grey-s) var(--light-5));
    --grey-6: hsl(var(--grey-h) var(--grey-s) var(--light-6));
    --grey-7: hsl(var(--grey-h) var(--grey-s) var(--light-7));
    --grey-8: hsl(var(--grey-h) var(--grey-s) var(--light-8));
    --primary-h: 200;
    --primary-s: 80%;
    --primary-l: 65%;
    --primary-c: hsl(var(--primary-h) var(--primary-s) var(--primary-l));

    color: var(--grey-6);

    &.theme-dark {
        @include theme-dark;
    }

    &.theme-light {
        @include theme-light;
    }
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-c);
}

.scroller {
    scrollbar-color: var(--primary-c) transparent;
    scrollbar-width: thin;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: var(--font-1);
    font-size: var(--text-d);
    font-weight: 400;
    margin: 0;
    outline: none;

    /** The js grid needs some time to catch up. */
    overflow-x: hidden;
}

a {
    color: var(--primary-c);
    text-decoration: none;
}

textarea {
    padding: 0;
    resize: none;

    &:focus {
        outline: none;
    }
}

button {
    background: none;
    border: 0;
    color: unset;
    font-size: var(--text-d);
}

::selection {
    background: var(--primary-c);
    color: var(--grey-5);
}
